section.section1 {background-color: #FFFFCC; visibility: hidden;}

section.section2 {background-color: #FFFFFF; visibility: hidden;}

body
{
    width: 500px;   
}

section1
{
    position: fixed;
    top: 20px;
    left: 5px;
    width: 600px;
    height: 150px;
}

section2
{
    position: fixed;
    top: 20px;
    left: 5px;
    width: 600px;
    height: 150px;
}